# registry=http://47.128.69.241:8081/repository/npm-group/
# //47.128.69.241:8081/repository/npm-hosted/:_authToken=${YOUR_AUTH_TOKEN}
# //47.128.69.241:8081/repository/npm-group/:_authToken=${YOUR_AUTH_TOKEN}