#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;      /* For Firefox */
}

*::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and newer versions of Edge */
}